<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDIRq0gk7QZ-qFGwPF51qmh7m0FkBHctU</string>
	<key>GCM_SENDER_ID</key>
	<string>415855184786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminPanel</string>
	<key>PROJECT_ID</key>
	<string>fitjessie-248a1</string>
	<key>STORAGE_BUCKET</key>
	<string>fitjessie-248a1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415855184786:ios:e5f239ca5f6459baf84f4b</string>
</dict>
</plist>